.coverage
.dockerignore
.env.example
.flake8
.git/
.gitignore
.gitlab-ci.yml
.mypy_cache/
.pytest_cache/
.venv/
.vscode/
app.code-workspace
docker-compose.yml
Dockerfile
app.egg-info/
mypy.ini
pytest.ini
README.md
tests/
__pycache__/
